# Environments and dependencies
.venv/
venv/
env/
__pycache__/
*.py[cod]
*$py.class

# Testing and Coverage
.pytest_cache/
artifacts/
*.log

# Secrets and Local Configurations
.env
.env.*
*.pem
*.key
*.secret
credentials.json

# IDE / System files
.vscode/
.idea/
.DS_Store
Thumbs.db
